@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&family=Roboto:wght@500&display=swap");
.header {
  padding: 20px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.header .youLogo {
  display: flex;
  align-items: center;
}
.header .youLogo img {
  width: 150px;
}
.header .Search {
  flex: 1;
  max-width: 500px;
  display: flex;
  margin-left: 70px;
  margin-right: 35px;
}
.header .Search input {
  flex: 1;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-width: 1px;
  border-radius: 20px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}
.header .Search input::-moz-placeholder {
  font-size: 16x;
  padding-left: 10px;
}
.header .Search input::placeholder {
  font-size: 16x;
  padding-left: 10px;
}
.header .Search .btn1 {
  background-color: rgb(240, 240, 240);
  border-color: rgb(192, 192, 192);
  border-width: 1px;
  width: 15%;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  margin-left: -38px;
  margin-right: 20px;
  cursor: pointer;
}
.header .Search .btn1 img {
  height: 25px;
}
.header .Search .btn2 {
  border-radius: 20px;
  border-width: 1px;
  border: none;
  display: flex;
  align-items: center;
  background-color: rgb(240, 240, 240);
  border-color: rgb(192, 192, 192);
  cursor: pointer;
}
.header .Search .btn2 img {
  height: 25px;
}
.header .Settings {
  width: 200px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.header .Settings .upload img {
  width: 90%;
}
.header .Settings .noti img {
  width: 100%;
}
.header .Settings .profileP img {
  width: 50%;
  border-radius: 30px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 97%;
  -moz-column-gap: 50px;
       column-gap: 50px;
  margin: 0 auto;
}
.main .ariana_contain {
  cursor: pointer;
  margin-top: 30px;
}
.main .ariana_contain .ariana_img img {
  width: 100%;
  border-radius: 20px;
}
.main .ariana_contain .ariana_channel {
  display: grid;
  grid-template-columns: 50px 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  width: 100%;
  margin-top: 10px;
}
.main .ariana_contain .ariana_channel .ariana_channel_img img {
  width: 100%;
  border-radius: 30px;
}
.main .ariana_contain .ariana_channel .ariana_des p {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: rgb(15, 15, 15);
}
.main .ariana_contain .ariana_channel .ariana_des .textT {
  color: black;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.main .ariana_contain .ariana_channel .ariana_des .textM {
  font-size: 14px;
  margin: 15px 0 10px 0;
}
.main .ariana_contain .ariana_channel .ariana_des .textB {
  font-size: 14px;
}

@media (max-width: 375px) {
  .header {
    padding: 5px;
    justify-content: space-around;
  }
  .header .youLogo img {
    width: 100px;
  }
  .header .Search {
    display: none;
    max-width: 0;
  }
  .header .Search input {
    display: flex;
  }
  .header .Settings {
    display: none;
  }
  .main {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=design.css.map */